body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dashboard-form {
  display: flex;
  flex-direction: column; /* stacks input fields vertically */
  gap: 15px;              /* space between fields */
  width: 500px;           /* limit width like a form */
  margin: 20px auto;      /* center it */
}

.dashboard-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
.dashboard-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.container{
    background-color: #BC8DA0;
    padding: 200px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 10%;
    max-width: 10px;
    box-sizing: border-box;
    align-items: centre;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    aspect-ratio: 1 / 1;
}
/* Form */
    .form-container {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      height: 550px;
      flex-direction: column;
      display: flex;
      gap: 15px;
    }

    .form-container input {
      margin: 5px;
      padding: 10px;
      width: 90%;
      border: 1px solid #ddd;
      border-radius: 8px;
    }

    .form-container input[type="file"] {
      width: auto;
    }

    .form-container button {
      padding: 10px 20px;
      border: none;
      background: #007bff;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      margin-left: 300px;
      width: 100px;
    }

    /* Item cards */
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
    }

    